* {
    margin: 0;
    padding: 0;
}

#canvas1 {
    background: darkgoldenrod;
    position: absolute;
}

.controls {
    position: absolute;
    z-index: 100;
}
img {
    display: none;
}
button {
    padding: 10px;
    font-size: 40px;
    margin: 20px;
    font-family: 'DotGothic16', sans-serif;
    color: white;
    background: black;
    transition: 0.2s;
}
button:hover {
    color: black;
    background: white;
}

#log {
    height: 200px;
    width: 600px;;
    overflow: scroll;
}